@import "color";

.paymentSuccess {
  background-color: $pink;
  width: 100%;
  height: 100vh;
  > main {
    height: 100%;
    background-color: white;
    max-width: 900px;
    margin: auto;
    padding: 2rem;
    > h1 {
      text-transform: uppercase;
      text-align: center;
      margin: 3rem;
      font: 100 3rem "Roboto";
    }
  }
}
